MONGODB_URI = ""

# Chiave segreta usata per firmare i token JWT, è una stringa che scelgo io
JWT_SECRET=""

# Dati Cloudinary (upload immagini su cloud)
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Dati Twilio Sengrid (e-mail)
SENDGRID_SENDER=""
SENDGRID_API_KEY=""


#GitHub
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""


GITHUB_CALLBACK_URL=""

FRONTEND_BASE_URL=""